/*Reset*/

html{
    font-size: 16px;
}

a{
    text-decoration: none;
}

header a{
    padding: auto;
}

#wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: auto;
}
/*Reset*/

/*Header*/
header h1{
    background-image: url('../img/Dog-Banner.jpg');
    background-size:cover;
    background-position-y: 10%;
    color:rgb(56, 56, 56);
    padding: 3.5rem;
    border-radius: 0px 0px 15px 15px;
}

.navbar{
    border-radius: 0px 0px 30px 30px;
}
/*Header*/

/*Aside*/
#aside-p{
    width: 200px; /* Fixed width for the aside */
    height: 200px;
    flex: 1;
    max-height: 600px;
    max-width: 200px;
    background-color: #f0f0f0; /* Light background for visibility */
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); /* Optional shadow */ 
    border-radius: 0px 0px 15px 15px;
}

aside {
    width: 200px; /* Fixed width for the aside */
    height: 600px;
    max-height: 600px;
    background-color: #f0f0f0; /* Light background for visibility */
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    border-radius: 15px 15px 15px 15px;
}
/*Aside*/

/*Main*/
main{
    display: flex !important;
    flex: 1 !important; /* Allow main to take the remaining space */
    max-width: 1024px !important; /* Optional max width for the main content */
    background-color: #fff !important; /* White background for main content */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important; /* Optional shadow */
    border-radius: 50px;
}



#item-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: auto;
}

#image-container{
    display: flex;
    width: 100%;
    height: 100%;
}

#spacer{
    padding-bottom: 10px;
}
.card{
    border: none;
    padding-right: 10px;
}

.card:hover{
    border: 1px solid rgba(0,0,0,.125)
}

#recomendados{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}
/*Main*/
/*FOOTER*/
footer{
    background-color: #a9c8db;
}

footer div{
    display: flex;
    flex-direction: row;
    display: 1;
    justify-content: center;
}

footer div:last-child{
    margin-left: auto;
}
/*FOOTER*/



